<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sales Tracker Page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	{% from 'bootstrap5/form.html' import render_form %}
</head>
<body>
<div class="container">

			<header class="header">

				<nav class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom" >
					<a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
						<span class="fs-4">Sales Tracker App</span>
					</a>
					<ul class="nav nav-pills">
						<li class="nav-item">
							<a href="/logout" class="nav-link active" aria-current="page">Logout</a>
						</li>
					</ul>

				</nav>

			</header>
			<div class="p-2 mb-4 bg-light rounded-3">
				<div class="text-center">
					<h1 class="display-5 fw-bold">Sales Tracker Page</h1>
					<p>
						{% if current_user.admin %}
							<a class="btn btn-lg btn-success" href="/users/" role="button">Users</a>
                        	<a class="btn btn-lg btn-success" href="/database/" role="button">Database</a>
						{% endif %}
                        <a class="btn btn-lg btn-success" href="/targets/" role="button">Targets</a>
                        <a class="btn btn-lg btn-success" href="/sales/" role="button">Sales Tracker</a>
					</p>
				</div>
			</div>
			<div id="sales_form" class="p-2 mb-4 bg-light rounded-3">
				{{ render_form(sales_form) }}
			</div>
			<script>
				window.onload = formView()
				type = document.getElementById("types")
				type.addEventListener("change", formView);
				function formView(){
					if (types.value == ""){
						select_device.style.display = 'none';
						select_device.labels[0].style.display = 'none';
						select_device.value = "";
						select_data.style.display = 'none';
						select_data.labels[0].style.display = 'none';
						select_data.value = "";
						bb.style.display = 'none';
						bb.labels[0].style.display = 'none';
						bb.value = "";
						new_choice.style.display = 'none';
						new_choice.labels[0].style.display = 'none';
						new_choice.checked = false;
						select_length.style.display = 'none';
						select_length.labels[0].style.display = 'none';
						select_length.value = "";
						select_price.style.display = 'none';
						select_price.labels[0].style.display = 'none';
						select_price.value = "";
						disc.style.display = 'none';
						disc.labels[0].style.display = 'none';
						disc.value = 0;
						ins.style.display = 'none';
						ins.labels[0].style.display = 'none';
						ins.value = "None";
					}
					if (types.value == "Sim Only"){
						select_device.style.display = 'none';
						select_device.labels[0].style.display = 'none';
						select_device.value = "";
						select_data.style.display = 'block';
						select_data.labels[0].style.display = 'block';
						select_data.value = "";
						bb.style.display = 'none';
						bb.labels[0].style.display = 'none';
						bb.value = "";
						new_choice.style.display = 'block';
						new_choice.labels[0].style.display = 'block';
						new_choice.checked = false;
						select_length.style.display = 'block';
						select_length.labels[0].style.display = 'block';
						select_length.value = "";
						select_price.style.display = 'block';
						select_price.labels[0].style.display = 'block';
						select_price.value = "";
						disc.style.display = 'block';
						disc.labels[0].style.display = 'block';
						disc.value = 0;
						ins.style.display = 'none';
						ins.labels[0].style.display = 'none';
						ins.value = "None";
					}
					if (types.value == "Broadband"){
						select_device.style.display = 'none';
						select_device.labels[0].style.display = 'none';
						select_device.value = "";
						select_data.style.display = 'none';
						select_data.labels[0].style.display = 'none';
						select_data.value = "";
						bb.style.display = 'block';
						bb.labels[0].style.display = 'block';
						bb.value = "";
						new_choice.style.display = 'block';
						new_choice.labels[0].style.display = 'block';
						new_choice.checked = false;
						select_length.style.display = 'block';
						select_length.labels[0].style.display = 'block';
						select_length.value = "";
						select_price.style.display = 'block';
						select_price.labels[0].style.display = 'block';
						select_price.value = "";
						disc.style.display = 'block';
						disc.labels[0].style.display = 'block';
						disc.value = 0;
						ins.style.display = 'none';
						ins.labels[0].style.display = 'none';
						ins.value = "None";
					}
					if (types.value == "Device"){
						select_device.style.display = 'block';
						select_device.labels[0].style.display = 'block';
						select_device.value = "";
						select_data.style.display = 'block';
						select_data.labels[0].style.display = 'block';
						select_data.value = "";
						bb.style.display = 'none';
						bb.labels[0].style.display = 'none';
						bb.value = "";
						new_choice.style.display = 'block';
						new_choice.labels[0].style.display = 'block';
						new_choice.checked = false;
						select_length.style.display = 'block';
						select_length.labels[0].style.display = 'block';
						select_length.value = "";
						select_price.style.display = 'block';
						select_price.labels[0].style.display = 'block';
						select_price.value = "";
						disc.style.display = 'block';
						disc.labels[0].style.display = 'block';
						disc.value = 0;
						ins.style.display = 'block';
						ins.labels[0].style.display = 'block';
						ins.value = "None";
					}
				}
				types.addEventListener("change", function () {update_form("")});
				bb.addEventListener("change", function () {update_form("bb")})
				select_device.addEventListener("change", function () {update_form("device")})
				select_data.addEventListener("change", function () {update_form("data")});
				select_length.addEventListener("change", function () {update_form("length")});
				select_price.addEventListener("change", function () {update_form("price")});
					function update_form(changed){
						sale_type = types.value
						device_val = select_device.value
						bb_val = bb.value
						data_val = select_data.value
						length_val = select_length.value
						price_val = select_price.value
						fetch('/_updatesalesdrop', {
							headers : {
								'Content-Type' : 'application/json'
							},
							method : 'POST',
							body : JSON.stringify( {
								'type' : sale_type,
								'device' : device_val,
								'bb' : bb_val,
								'data' : data_val,
								'length' : length_val,
								'price' : price_val
							})
						}).then(function(response) {
							response.json().then(function(data) {
								if (changed != "bb" || bb_val == ""){
									options = '<option value></option>';
									for (broadb of data["bb"]) {
										options += '<option value="' + broadb + '">' + broadb + '</option>';
									}
									bb.innerHTML = options;
									bb.value = bb_val
								}
								if (changed != "data" || data_val == ""){
									options = '<option value></option>';
									for (data_amount of data["data"]) {
										options += '<option value="' + data_amount + '">' + data_amount + '</option>';
									}
									select_data.innerHTML = options;
									select_data.value = data_val
								}
								if (changed != "length" || length_val == ""){
									options = '<option value></option>';
									for (length of data["length"]) {
										options += '<option value="' + length + '">' + length + '</option>';
									}
									select_length.innerHTML = options;
									select_length.value = length_val
								}
								if (changed != "price" || price_val == ""){
									options = '<option value></option>';
									for (price of data["price"]) {
										options += '<option value="' + price + '">' + price + '</option>';
									}
									select_price.innerHTML = options;
									select_price.value = price_val
								}
								if (changed != "device" || device_val == ""){
									options = '<option value></option>';
									for (device of data["device"]) {
										options += '<option value="' + device + '">' + device + '</option>';
									}
									select_device.innerHTML = options;
									if (changed != "device"){
									select_device.value = device_val
									}
								}
							});
						});

					}
			</script>
			<div id="sales_list" class="p-2 mb-4 bg-light rounded-3">
				<table id="data" class="table table-striped">
					<thead>
					  <tr>
						<th>Username</th>
						<th>New</th>
						  <th>Broadband</th>
						<th>Device</th>
						<th>Data</th>
						<th>Contract Length</th>
						<th>Price</th>
						<th>Revenue</th>
						<th>Discount</th>
						<th>Insurance</th>
					    <th>Commission</th>
						  <th></th>
						  <th></th>
					  </tr>
					</thead>
					<tbody>
					  {% for sale in all_sales if current_user.store_id == sale.users.store_id %}
					  	{% if (not current_user.admin and sale.users.id == current_user.id) or (current_user.admin) %}
							<tr>
							  <td>{{ sale.users.username }}</td>
							  <td>{{ sale.new }}</td>
								{% if sale.product.broadband == "" %}
									<td>-</td>
								{% else %}
									<td>{{ sale.product.broadband }}</td>
								{% endif %}
							  	{% if sale.product.device == "" %}
									<td>-</td>
								{% else %}
									<td>{{ sale.product.device }}</td>
								{% endif %}
							  	{% if sale.product.data == None %}
									<td>-</td>
								{% elif sale.product.data == 999 %}
									<td>Unlimited</td>
								{% else %}
									<td>{{ sale.product.data }}GB</td>
								{% endif %}
							  <td>{{ sale.product.length }} months</td>
							  <td>£{{ sale.product.price|round(2) }}</td>
							  <td>£{{ sale.revenue|round(2) }}</td>
							  <td>{{ sale.discount }}&#37;</td>
							  	{% if sale.product.device == "" %}
									<td>-</td>
								{% else %}
									<td>{{ sale.insurance }}</td>
								{% endif %}
								<td>£{{ sale.commission|round(2) }}</td>
								<td>
									{% if current_user.admin %}
										<form method="POST" action="{{ url_for('delete_sale', sale_id=sale.id) }}">
										<button type="submit" onclick="return confirm('Are you sure you want to delete sale by {{sale}}?')"><i class="fa fa-trash"></i></button></form> </td>
									{% endif %}
								  <td><button id="{{sale.id}}" onclick="add_id(this.id);"><i class="fa fa-pencil"></i></button></td>
							</tr>
					  	{% endif %}
					  {% endfor %}
					<script>
						function add_id(button_id){
							type.value = "";
							select_device.value  = "";
							bb.value  = "";
							select_data.value  = "";
							select_length.value  = "";
							select_price.value  = "";
							update_form("");
							setTimeout(add, 1000, button_id);
						}
						function add(button_id){
							document.getElementById("sale_id").value = button_id;
							fetch('/_getsale', {
						headers : {
							'Content-Type' : 'application/json'
						},
						method : 'POST',
						body : JSON.stringify( {
							'id' : button_id,
						})
					}).then(function(response){
						response.json().then(function(data) {
							if (data["broadband"] != "") {
								document.getElementById("types").value = "Broadband"
								formView()
							}
							else if (data["device"] != "") {
								document.getElementById("types").value = "Device"
								formView()
							}
							else {
								document.getElementById("types").value = "Sim Only"
								formView()
							}
							select_user.value = data["username"];
							new_choice.checked = data["new"];
							bb.value = data["broadband"]
							select_device.value = data["device"];
							select_data.value = data["data"];
							select_length.value = data["length"];
							select_price.value = data["price"];
							disc.value = data["discount"];
							ins.value = data["insurance"];
							update_form("");
						});
					});
					}
					</script>
					</tbody>
			  	</table>
			</div>
			<footer class="footer">

				<p>&copy; Kenny Harvey 2023</p>

			</footer>
		</div>
</body>
</html>