<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users Page</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	{% from 'bootstrap5/form.html' import render_form %}
</head>
<body>
<div class="container">

			<header class="header">

				<nav class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom" >
					<a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
						<span class="fs-4">Sales Tracker App</span>
					</a>
					<ul class="nav nav-pills">
						<li class="nav-item">
							<a href="/logout" class="nav-link active" aria-current="page">Logout</a>
						</li>
					</ul>

				</nav>

			</header>
			<div class="p-2 mb-4 bg-light rounded-3">
				<div class="text-center">
					<h1 class="display-5 fw-bold">Users Page</h1>
					<p>
						<a class="btn btn-lg btn-success" href="/users/" role="button">Users</a>
                        <a class="btn btn-lg btn-success" href="/database/" role="button">Database</a>
                        <a class="btn btn-lg btn-success" href="/targets/" role="button">Targets</a>
                        <a class="btn btn-lg btn-success" href="/sales/" role="button">Sales Tracker</a>
					</p>
				</div>
			</div>
			{% block content %}
			<div class="container">
				{% for message in get_flashed_messages() %}
				<div class="alert alert-warning">
					Temporary password: {{ message }}
				</div>
				{% endfor %}
				{% block page_content %}{% endblock %}
			</div>
			{% endblock %}
			<div id="users_form" class="p-2 mb-4 bg-light rounded-3">
				{{ render_form(users_form) }}
			</div>
			<div id="users_list" class="p-2 mb-4 bg-light rounded-3">
				<table id="data" class="table table-striped">
					<thead>
					  <tr>
						<th>User ID</th>
						<th>Username</th>
						<th>First Name</th>
						<th>Last Name</th>
						<th>Email</th>
						<th>Admin Access</th>
						<th>Store ID</th>
						<th>Hours Working</th>
						<th></th>
						<th></th>
					  </tr>
					</thead>
					<tbody>
					  {% for user in all_users %}
					  	{% if current_user.store_id == user.store_id %}
							<tr>
							  <td>{{ user.id }}</td>
							  <td>{{ user.username }}</td>
							  <td>{{ user.firstname }}</td>
							  <td>{{ user.lastname }}</td>
							  <td>{{ user.email }}</td>
							  <td>{{ user.admin }}</td>
							  <td>{{ user.store_id }}</td>
							  <td>{{ user.hours_working }}</td>
							  <td>
								  <form method="POST" action="{{ url_for('delete_user', user_id=user.id) }}">
								  <button type="submit" onclick="return confirm('Are you sure you want to delete user {{user.username}}?')"><i class="fa fa-trash"></i></button></form> </td>
								  <td><button id="{{user.id}}" onclick="add_id(this.id)"><i class="fa fa-pencil"></i></button></td>
							</tr>
					  	{% endif %}
					  {% endfor %}
					<script>
						function add_id(button_id){
							document.getElementById("user_id").value = button_id;
							fetch('/_getuser', {
						headers : {
							'Content-Type' : 'application/json'
						},
						method : 'POST',
						body : JSON.stringify( {
							'id' : button_id,
						})
					}).then(function(response) {
						response.json().then(function(data) {
							document.getElementById("firstname").value = data["firstname"];
							document.getElementById("lastname").value = data["lastname"];
							document.getElementById("email").value = data["email"];
							document.getElementById("admin").checked = data["admin"];
							document.getElementById("store_id").value = data["store"];
						});
					});

						}
					</script>
					</tbody>
			  	</table>
			</div>
			<footer class="footer">

				<p>&copy; Kenny Harvey 2023</p>

			</footer>

		</div>
</body>
</html>