<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Database Page</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	{% from 'bootstrap5/form.html' import render_form %}
</head>
<body>
<div class="container">

			<header class="header">

				<nav class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom" >
					<a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
						<span class="fs-4">Sales Tracker App</span>
					</a>
					<ul class="nav nav-pills">
						<li class="nav-item">
							<a href="/logout" class="nav-link active" aria-current="page">Logout</a>
						</li>
					</ul>

				</nav>

			</header>
			<div class="p-2 mb-4 bg-light rounded-3">
				<div class="text-center">
					<h1 class="display-5 fw-bold">Database Page</h1>
					<p>
						<a class="btn btn-lg btn-success" href="/users/" role="button">Users</a>
                        <a class="btn btn-lg btn-success" href="/database/" role="button">Database</a>
                        <a class="btn btn-lg btn-success" href="/targets/" role="button">Targets</a>
                        <a class="btn btn-lg btn-success" href="/sales/" role="button">Sales Tracker</a>
					</p>
				</div>
            </div>
			<div id="products_form" class="p-2 mb-4 bg-light rounded-3">
				{{ render_form(products_form) }}
			</div>
			<script>
				window.onload = formView()
				type = document.getElementById("product")
				type.addEventListener("change", formView);
				function formView(){
					if (product.value == ""){
						device.style.display = 'none';
						device.labels[0].style.display = 'none';
						amount.style.display = 'none';
						amount.labels[0].style.display = 'none';
						bb.style.display = 'none';
						bb.labels[0].style.display = 'none';
						contract.style.display = 'none';
						contract.labels[0].style.display = 'none';
						price.style.display = 'none';
						price.labels[0].style.display = 'none';
						rev.style.display = 'none';
						rev.labels[0].style.display = 'none';
						comm.style.display = 'none';
						comm.labels[0].style.display = 'none';
					}
					if (product.value == "Sim Only"){
						device.style.display = 'none';
						device.labels[0].style.display = 'none';
						amount.style.display = 'block';
						amount.labels[0].style.display = 'block';
						bb.style.display = 'none';
						bb.labels[0].style.display = 'none';
						contract.style.display = 'block';
						contract.labels[0].style.display = 'block';
						price.style.display = 'block';
						price.labels[0].style.display = 'block';
						rev.style.display = 'block';
						rev.labels[0].style.display = 'block';
						comm.style.display = 'block';
						comm.labels[0].style.display = 'block';
					}
					if (product.value == "Broadband"){
						device.style.display = 'none';
						device.labels[0].style.display = 'none';
						amount.style.display = 'none';
						amount.labels[0].style.display = 'none';
						bb.style.display = 'block';
						bb.labels[0].style.display = 'block';
						contract.style.display = 'block';
						contract.labels[0].style.display = 'block';
						price.style.display = 'block';
						price.labels[0].style.display = 'block';
						rev.style.display = 'block';
						rev.labels[0].style.display = 'block';
						comm.style.display = 'block';
						comm.labels[0].style.display = 'block';
					}
					if (product.value == "Device"){
						device.style.display = 'block';
						device.labels[0].style.display = 'block';
						amount.style.display = 'block';
						amount.labels[0].style.display = 'block';
						bb.style.display = 'none';
						bb.labels[0].style.display = 'none';
						contract.style.display = 'block';
						contract.labels[0].style.display = 'block';
						price.style.display = 'block';
						price.labels[0].style.display = 'block';
						rev.style.display = 'block';
						rev.labels[0].style.display = 'block';
						comm.style.display = 'block';
						comm.labels[0].style.display = 'block';
					}
				}
			</script>
			<div id="products_list" class="p-2 mb-4 bg-light rounded-3">
				<table id="data" class="table table-striped">
					<thead>
					  <tr>
						  <th>Broadband</th>
						<th>Device</th>
						<th>Data</th>
						<th>Contract length</th>
						<th>Price</th>
						<th>Revenue</th>
						<th>Commission</th>
						  <th></th>
						  <th></th>
					  </tr>
					</thead>
					<tbody>
					  {% for product in all_products %}
						<tr>
							{% if product.broadband == "" %}
								<td>-</td>
							{% else %}
								<td>{{ product.broadband }}</td>
							{% endif %}
						  {% if product.device == "" %}
								<td>-</td>
							{% else %}
								<td>{{ product.device }}</td>
							{% endif %}
						  {% if product.data == None %}
								<td>-</td>
							{% elif product.data == 999 %}
								<td>Unlimited</td>
							{% else %}
								<td>{{ product.data }}GB</td>
							{% endif %}
						  <td>{{ product.length }} months</td>
						  <td>£{{ product.price|round(2) }}</td>
						  <td>£{{ product.revenue|round(2) }}</td>
						  <td>£{{ product.commission|round(2) }}</td>
							<td>
							  <form method="POST" action="{{ url_for('delete_product', product_id=product.id) }}">
							  <button type="submit" onclick="return confirm('Are you sure you want to delete product {{product}}?')"><i class="fa fa-trash"></i></button></form> </td>
							  <td><button id="{{product.id}}" onclick="add_id(this.id)"><i class="fa fa-pencil"></i></button></td>
						</tr>
					  {% endfor %}
					<script>
						function add_id(button_id){
							document.getElementById("product_id").value = button_id;
							fetch('/_getproduct', {
						headers : {
							'Content-Type' : 'application/json'
						},
						method : 'POST',
						body : JSON.stringify( {
							'id' : button_id,
						})
					}).then(function(response) {
						response.json().then(function(data) {
							if (data["broadband"] != "") {
								document.getElementById("product").value = "Broadband"
								formView()
							}
							else if (data["device"] != "") {
								document.getElementById("product").value = "Device"
								formView()
							}
							else {
								document.getElementById("product").value = "Sim Only"
								formView()
							}
							bb.value = data["broadband"];
							device.value = data["device"];
							amount.value = data["data"];
							contract.value = data["length"];
							price.value = data["price"];
							rev.value = data["revenue"];
							comm.value = data["commission"];
						});
					});

						}
					</script>
					</tbody>
			  	</table>
			</div>
			<footer class="footer">

				<p>&copy; Kenny Harvey 2023</p>

			</footer>

</div>
</body>
</html>