<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sales Tracker Page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	{% from 'bootstrap5/form.html' import render_form %}
</head>
<body>
<div class="container">

			<header class="header">

				<nav class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom" >
					<a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
						<span class="fs-4">Sales Tracker App</span>
					</a>
					<ul class="nav nav-pills">
						<li class="nav-item">
							<a href="/logout" class="nav-link active" aria-current="page">Logout</a>
						</li>
					</ul>

				</nav>

			</header>
			<div class="p-2 mb-4 bg-light rounded-3">
				<div class="text-center">
					<h1 class="display-5 fw-bold">Sales Tracker Page</h1>
					<p>
						{% if current_user.admin %}
							<a class="btn btn-lg btn-success" href="/users/" role="button">Users</a>
                        	<a class="btn btn-lg btn-success" href="/database/" role="button">Database</a>
						{% endif %}
                        <a class="btn btn-lg btn-success" href="/targets/" role="button">Targets</a>
                        <a class="btn btn-lg btn-success" href="/sales/" role="button">Sales Tracker</a>
					</p>
				</div>
			</div>
			<div id="sales_form" class="p-2 mb-4 bg-light rounded-3">
				{{ render_form(sales_form) }}
			<script>
				device_select = document.getElementById("select_device")
				data_select = document.getElementById("select_data")
				length_select = document.getElementById("select_length")
				price_select = document.getElementById("select_price")
				device_select.addEventListener("change", update_device);
				data_select.addEventListener("change", update_data);
				length_select.addEventListener("change", update_length);
				price_select.addEventListener("change", update_price);
				function update_device(){
					device_val = device_select.value
					data_val = data_select.value
					length_val = length_select.value
					price_val = price_select.value
					fetch('/_updatesalesdrop', {
						headers : {
							'Content-Type' : 'application/json'
						},
						method : 'POST',
						body : JSON.stringify( {
							'device' : device_val,
							'data' : data_val,
							'length' : length_val,
							'price' : price_val
						})
					}).then(function(response) {
						response.json().then(function(data) {
							options = '<option value></option>';
							for (data_amount of data["data"]) {
								options += '<option value="' + data_amount + '">' + data_amount + '</option>';
							}
							select_data.innerHTML = options;
							data_select.value = data_val
							options = '<option value></option>';
							for (length of data["length"]) {
								options += '<option value="' + length + '">' + length + '</option>';
							}
							select_length.innerHTML = options;
							length_select.value = length_val
							options = '<option value></option>';
							for (price of data["price"]) {
								options += '<option value="' + price + '">' + price + '</option>';
							}
							select_price.innerHTML = options;
							price_select.value = price_val
							if (device_val == "") {
								options = '<option value></option>';
								for (device of data["device"]) {
								options += '<option value="' + device + '">' + device + '</option>';
								}
								select_device.innerHTML = options;
							}
						});
					});
				}

				function update_data(){
					device_val = device_select.value
					data_val = data_select.value
					length_val = length_select.value
					price_val = price_select.value
					fetch('/_updatesalesdrop', {
						headers : {
							'Content-Type' : 'application/json'
						},
						method : 'POST',
						body : JSON.stringify( {
							'device' : device_val,
							'data' : data_val,
							'length' : length_val,
							'price' : price_val
						})
					}).then(function(response) {
						response.json().then(function(data) {
							options = '<option value></option>';
							for (device of data["device"]) {
								options += '<option value="' + device + '">' + device + '</option>';
							}
							select_device.innerHTML = options;
							device_select.value = device_val
							options = '<option value></option>';
							for (length of data["length"]) {
								options += '<option value="' + length + '">' + length + '</option>';
							}
							select_length.innerHTML = options;
							length_select.value = length_val
							options = '<option value></option>';
							for (price of data["price"]) {
								options += '<option value="' + price + '">' + price + '</option>';
							}
							select_price.innerHTML = options;
							price_select.value = price_val
							if (data_val == "") {
								options = '<option value></option>';
								for (data_amount of data["data"]) {
								options += '<option value="' + data_amount + '">' + data_amount + '</option>';
								}
								select_data.innerHTML = options;
							}
						});
					});
				}

				function update_length(){
					device_val = device_select.value
					data_val = data_select.value
					length_val = length_select.value
					price_val = price_select.value
					fetch('/_updatesalesdrop', {
						headers : {
							'Content-Type' : 'application/json'
						},
						method : 'POST',
						body : JSON.stringify( {
							'device' : device_val,
							'data' : data_val,
							'length' : length_val,
							'price' : price_val
						})
					}).then(function(response) {
						response.json().then(function(data) {
							options = '<option value></option>';
							for (device of data["device"]) {
								options += '<option value="' + device + '">' + device + '</option>';
							}
							select_device.innerHTML = options;
							device_select.value = device_val
							options = '<option value></option>';
							for (data_amount of data["data"]) {
								options += '<option value="' + data_amount + '">' + data_amount + '</option>';
							}
							select_data.innerHTML = options;
							options = '<option value></option>';
							for (price of data["price"]) {
								options += '<option value="' + price + '">' + price + '</option>';
							}
							select_price.innerHTML = options;
							price_select.value = price_val
							data_select.value = data_val
							if (length_val == "") {
								options = '<option value></option>';
								for (length of data["length"]) {
								options += '<option value="' + length + '">' + length + '</option>';
								}
								select_length.innerHTML = options;
							}
						});
					});
				}

				function update_price(){
					device_val = device_select.value
					data_val = data_select.value
					length_val = length_select.value
					price_val = price_select.value
					fetch('/_updatesalesdrop', {
						headers : {
							'Content-Type' : 'application/json'
						},
						method : 'POST',
						body : JSON.stringify( {
							'device' : device_val,
							'data' : data_val,
							'length' : length_val,
							'price' : price_val
						})
					}).then(function(response) {
						response.json().then(function(data) {
							options = '<option value></option>';
							for (device of data["device"]) {
								options += '<option value="' + device + '">' + device + '</option>';
							}
							select_device.innerHTML = options;
							options = '<option value></option>';
							device_select.value = device_val
							for (data_amount of data["data"]) {
								options += '<option value="' + data_amount + '">' + data_amount + '</option>';
							}
							select_data.innerHTML = options;
							options = '<option value></option>';
							for (length of data["length"]) {
								options += '<option value="' + length + '">' + length + '</option>';
							}
							select_length.innerHTML = options;
							length_select.value = length_val
							data_select.value = data_val
							if (price_val == "") {
								options = '<option value></option>';
								for (price of data["price"]) {
								options += '<option value="' + price + '">' + price + '</option>';
								}
								select_price.innerHTML = options;
							}
						});
					});
				}
			</script>
			</div>
			<div id="sales_list" class="p-2 mb-4 bg-light rounded-3">
				<table id="data" class="table table-striped">
					<thead>
					  <tr>
						<th>Username</th>
						<th>New</th>
						<th>Device</th>
						<th>Data</th>
						<th>Contract Length</th>
						<th>Price</th>
						<th>Revenue</th>
						<th>Commission</th>
						<th>Discount</th>
						<th>Insurance</th>
						  <th></th>
						  <th></th>
					  </tr>
					</thead>
					<tbody>
					  {% for sale in all_sales %}
						<tr>
						  <td>{{ sale.users.username }}</td>
						  <td>{{ sale.new }}</td>
						  <td>{{ sale.product.device }}</td>
						  <td>{{ sale.product.data }}GB</td>
						  <td>{{ sale.product.length }} months</td>
						  <td>£{{ sale.product.price|round(2) }}</td>
						  <td>£{{ sale.product.revenue|round(2) }}</td>
						  <td>£{{ sale.product.commission|round(2) }}</td>
						  <td>{{ sale.discount }}</td>
						  <td>{{ sale.insurance }}</td>
							<td>
							  <form method="POST" action="{{ url_for('delete_sale', sale_id=sale.id) }}">
							  <button type="submit" onclick="return confirm('Are you sure you want to delete sale by {{sale}}?')"><i class="fa fa-trash"></i></button></form> </td>
							  <td><button id="{{sale.id}}" onclick="add_id(this.id);"><i class="fa fa-pencil"></i></button></td>
						</tr>
					  {% endfor %}
					<script>
						function add_id(button_id){
							document.getElementById("sale_id").value = button_id;
							fetch('/_getsale', {
						headers : {
							'Content-Type' : 'application/json'
						},
						method : 'POST',
						body : JSON.stringify( {
							'id' : button_id,
						})
					}).then(function(response) {
						response.json().then(function(data) {
							document.getElementById("select_user").value = data["username"];
							document.getElementById("new_up").checked = data["new"];
							document.getElementById("select_device").value = data["device"];
							document.getElementById("select_data").value = data["data"];
							document.getElementById("select_length").value = data["length"];
							document.getElementById("select_price").value = data["price"];
							document.getElementById("discount").value = data["discount"];
							document.getElementById("insurance").value = data["insurance"];
						});
					});

						}
					</script>
					</tbody>
			  	</table>
			</div>
			<footer class="footer">

				<p>&copy; Kenny Harvey 2023</p>

			</footer>

		</div>
</body>
</html>