<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Targets Page</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
	{% from 'bootstrap5/form.html' import render_form %}
</head>
<body>
<div class="container">

			<header class="header">

				<nav class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom" >
					<a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
						<span class="fs-4">Sales Tracker App</span>
					</a>
					<ul class="nav nav-pills">
						<li class="nav-item">
							<a href="/logout" class="nav-link active" aria-current="page">Logout</a>
						</li>
					</ul>

				</nav>

			</header>
			<div class="p-2 mb-4 bg-light rounded-3">
				<div class="text-center">
					<h1 class="display-5 fw-bold">Targets Page</h1>
					<p>
						{% if current_user.admin %}
							<a class="btn btn-lg btn-success" href="/users/" role="button">Users</a>
                        	<a class="btn btn-lg btn-success" href="/database/" role="button">Database</a>
						{% endif %}
                        <a class="btn btn-lg btn-success" href="/targets/" role="button">Targets</a>
                        <a class="btn btn-lg btn-success" href="/sales/" role="button">Sales Tracker</a>
					</p>
				</div>
			</div>
			{% if current_user.admin %}
				<div id="targets_form" class="p-2 mb-4 bg-light rounded-3">
					{{ render_form(target_form) }}
				</div>
				<div id="hours_form" class="p-2 mb-4 bg-light rounded-3">
					{{ render_form(hours_form) }}
				</div>
			{% endif %}
			<div id="targets_list" class="p-2 mb-4 bg-light rounded-3">
				<table id="data" class="table table-striped">
					<thead>
					  <tr>
						<th>User</th>
						<th>New</th>
						<th>Upgrades</th>
						<th>Broadband</th>
						<th>Unlimited</th>
						<th>Insurance</th>
						<th>Revenue</th>
					    <th>Commission</th>
					  </tr>
					</thead>
					<tbody>
					  {% for store_target in store_targets if current_user.store_id == store_target.id %}
						<tr>
						  <td>Store</td>
						  <td>{{ store_target.store_progress.new }} / <b>{{ store_target.new }}</b></td>
						  <td>{{ store_target.store_progress.upgrades }} / <b>{{ store_target.upgrades }}</b></td>
						  <td>{{ store_target.store_progress.broadband }} / <b>{{ store_target.broadband }}</b></td>
						  <td>{{ store_target.store_progress.unlimited }} / <b>{{ store_target.unlimited }}</b></td>
						  <td>{{ store_target.store_progress.insurance }} / <b>{{ store_target.insurance }}</b></td>
						  {% if store_target.store_progress.revenue is defined %}
						  <td>£{{ store_target.store_progress.revenue|round(2) }} / <b>£{{ store_target.revenue|round(2) }}</b></td>
							{% else %}
							<td> / <b>£{{ store_target.revenue|round(2) }}</b></td>
							{% endif %}
						  <td></td>
						</tr>
					  {% endfor %}
						{% for target in user_targets if current_user.store_id == target.store_id %}
						<tr>
						  <td>{{ target.user_target.username }}</td>
						  <td>{{ target.user_progress.new }} / <b>{{ target.new }}</b></td>
						  <td>{{ target.user_progress.upgrades }} / <b>{{ target.upgrades }}</b></td>
						  <td>{{ target.user_progress.broadband }} / <b>{{ target.broadband }}</b></td>
						  <td>{{ target.user_progress.unlimited }} / <b>{{ target.unlimited }}</b></td>
						  <td>{{ target.user_progress.insurance }} / <b>{{ target.insurance }}</b></td>
						  {% if target.user_progress.revenue is defined %}
						  <td>£{{ target.user_progress.revenue|round(2) }} / <b>£{{ target.revenue|round(2) }}</b></td>
							{% else %}
							<td> / <b>£{{ target.revenue|round(2) }}</b></td>
							{% endif %}
						  {% if target.user_progress.revenue is defined %}
						  <td>£{{ target.user_progress.commission|round(2) }}</td>
						  {% else %}
						  <td>£0.00</td>
						  {% endif %}
						</tr>
					  {% endfor %}
					</tbody>
			  	</table>
			</div>
			<footer class="footer">

				<p>&copy; Kenny Harvey 2023</p>

			</footer>

		</div>
</body>
</html>